/src_images/acronym-dissambiguation.png
/src_images/header-background.png
/src_images/Object-Oriented-Programming-in-Java.jpg
/src_images/perceptual_encoder.png
/src_images/perceptual_encoder_big.png
/src_images/profile-picture.png
/src_images/project1-image.jpg
/src_images/project3-image.jpg
/src_images/project4-image.jpg
/src_images/relational_database.jpg
/src_images/savana-NLPpipeline-image.png
/src_images/spider_web.jpg
/src_images/yaani_search_engine.jpg
