/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styles */
        header {
            position: relative;
            height: 400px;
            background-size: cover;
            background-position: center;
        }

        .profile-picture {
            position: absolute;
            top: 250px;
            left: 50px;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            border: 5px solid white;
        }

        .profile-picture img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .profile-info {
            position: absolute;
            top: 60px;
            left: 50px;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 20px;
            border-radius: 5px;
        }

        .profile-info h1 {
            margin: 0;
            font-size: 42px;
        }

        .profile-info a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }

/* About Widget Styles */
        .about-widget {
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 0px 0px;
            text-align: center;
            border-radius: 8px;
        }

        .about-widget p {
            margin: 10, 10;
            padding: 10px 10px;
            font-size: 22px;
            line-height: 1.5;
            /*max-width: 1000px;*/
            display: inline-block;
        }

/* Main Content Styles */
        main {
            padding: 80px 50px;
        }

/* Navigation Menu Styles */
        nav {
            position: absolute;
            top: 0px;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px 0;
            text-align: center;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin: 0 20px;
            font-size: 18px;
            font-weight: bold;
        }

        nav a:hover {
            color: #ccc;
        }

main {
  padding: 2rem;
}

section {
  margin-bottom: 3rem;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}
/* Module-specific styles */
.module-container {
  padding: 2rem;
}

.module-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  background-color: #858383;
  padding:10px;
  border-radius: 5px;
  text-align: left;
  color:  #f0f0f0;
  /*color: white;*/
}

.module-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 2rem;
}

.module-item {
  background-color: #f5f5f5;
 /* border-radius: 5px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 1px solid #ccc;
   border-radius: 8px;
   /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* Ensures space between content and link */
    /*height: 600px; *//* Set a fixed height for uniformity */
        flex-grow: 1; /* Allows the content area to grow and take available space */
}

.module-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.module-info {
  padding: 0rem 1rem;

}

.module-info p{
    font-size: 1em; /* Standard font size for description */
    color: #555; /* Softer color for description */
    line-height: 1.6; /* Improved readability */
   /* margin-bottom: 15px; /* Space below the description */*/
}

.module-link {
  display: block;
  text-align: right;
  padding: 0.5rem 1rem;
  background-color: #858383; /* Bootstrap primary color */
}

.module-link a {
    color: #f0f0f0;
    text-decoration: none;
    font-weight: bold;
}

.module-link a:hover {
    color: #666;
}